@model AspMvcFlightsApp.Models.DataAirport

<h2>Новый аэропорт:</h2>
<form asp-action="create" asp-controller="airport" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Название:</label>
        <input asp-for="Title" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CityId" class="form-label">Город:</label>
        <select asp-for="CityId" class="form-select" aria-label="Пример выбора по умолчанию">
            @foreach(DataCity city in ViewBag.cities)
            {
                <option value="@city.Id">@city.Title</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <input class="btn btn-success" type="submit" />
    </div>
</form>