@model IEnumerable<AspMvcFlightsApp.Models.DataAirport>?
<h1>Панель управления аэропортами</h1>

<div>
    <a class="btn btn-primary" asp-area="Dashboard" asp-controller="Airport" asp-action="Create">Создать новый</a>
</div>

<table class="table-striped">
    <thead>
        <tr>
            <th>Назвние</th>
            <th>Город</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var airport in Model)
            {
                        <tr>
                            <td>@airport.Title</td>
                            <td>@airport?.City?.Title</td>
                            <td>
                                <a class="btn btn-secondary" asp-area="Dashboard" asp-controller="Airport" asp-action="Edit" asp-route-id="@airport.Id">Редактировать</a>
                            </td>
                            <td>
                                <form method="post" asp-area="Dashboard" asp-controller="Airport" asp-action="Delete" asp-route-id="@airport.Id">
                                    <input type="submit" class="btn btn-danger" value="Удалить" />
                                </form>
                            </td>
                        </tr>
            }
        }


    </tbody>

</table>
