@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <a asp-area="Dashboard" asp-controller="City" asp-action="Index" class="btn btn-primary btn-lg">Управление городами</a>
    <a asp-area="Dashboard" asp-controller="Airport" asp-action="Index" class="btn btn-primary btn-lg">Управление аэропортами</a>

    
</div>