@using AspMvcFlightsApp.Models
@model IEnumerable<DataAirport>

<div class="text-center">
    <h1 class="display-4">Аэропорты</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a asp-controller="Home" asp-action="Index" asp-route-sortType="@ViewBag.titleSort">
                        Название
                    </a>
                </th>
                <th>
                    <a asp-controller="Home" asp-action="Index" asp-route-sortType="@ViewBag.citySort">
                        Город
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var a in Model)
            {
                <tr>
                    <td>@a.Title</td>
                    <td>@a.City.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>

